.product-list {
  padding: 0;
  margin: 0;
}

.sub-banner .sub-banner-image {
  width: 50rem;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.banner-brief p {
  color: var(--white-clr);
  font-size:var(--fs-2xl);
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 50rem;
}

  /* menu cap */

.category-menu {
  background: var(--white-clr);
  box-shadow: var(--primary-box-shadow);
  float: left;
  margin-top: 5rem;
  margin-left: -10rem;
  width: 100%;
  border-radius: 1rem;
  font-size: var(--primary-fs);
}

.category-menu ul {
  list-style: none;
  padding: 0;
}

.category-menu ul li {
  position: relative;
  padding: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 3rem;
}

.category-menu ul li:hover {
  color: yellow;

}

.category-menu ul li ul {
  display: grid;
  position: relative;
  left: 5%;
  top: 0;
}

.category-menu ul li:hover ul {
  display: grid;
  color: red;
}

.category-menu ul li ul li {
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-top: 0.5rem;
}
